#container {
    width: 100%;
    height: 2100px;
}

#top {
    position: relative;
    top: 5px;
    width: 1300px;
    margin: auto;
}

#top_clone {
    text-align: center;
    margin-bottom: 60px;
}

#top_clone p {
    margin-top: 40px;
    font-size: 1.3em;
}

#top_clone ul {
    padding-top: 30px;
    text-align: center;
}

#top_clone li {
    display: inline-block;
    padding-left: 10px;
}

#top_clone li a {
    color: #222;
    font-size: 0.8em;
    margin-right: 18px;
    padding-bottom: 8px;
}

#top_clone li a:hover {
    border-bottom: 2px solid #5688e4;
}

#middel {
    width: 1300px;
    height: 1000px;
    margin: 0 auto;
}

#middle_top {
    position: relative;
    width: 200px;
    margin: auto;
    left: -550px;
}

#middle_top>h2 {
    border: 1px solid #ccc;
    border-bottom: 1px solid white;
    font-size: 0.7em;
    padding: 10px;
}

#middle_top strong {
    font-size: 1.1em;
    font-weight: bold;
}

.middle_item {
    position: relative;
    margin: 0 auto;
    width: 1300px;
    border-top: 1px solid #ccc;
}

.middle_item ul {
    margin-top: 30px;
}

#miniBox {
    margin: auto;
    text-align: center;
}

#miniBox>span {
    border: 1px solid #d2d2d2;
    border-radius: 2px;
    padding: 2px;
    margin-right: 5px;
}

.mnb01 {
    margin-left: 8px;
    font-size: 0.6em;
    font-weight: bold;
}

.mnb02 {
    font-size: 0.6em;
    font-weight: bold;
    color: #ff4747;
}

.middle_item li {
    display: inline-block;
    width: 296px;
    margin-right: 33px;
    margin-bottom: 22px;
}

.middle_item li:hover {
    border: 1px solid #ccc;
}

.middle_item li:nth-child(4n) {
    margin-right: 0;
}

.middle_item li img {
    width: 100%;
    object-fit: contain;
}

.middle_item .product_info {
    width: 100%;
    padding: 20px 10px;
    text-align: center;
}

.middle_item .best_seller_title {
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.middle_item .best_seller_content {
    padding: 10px 0;
}

.middle_item .discount_price {
    font-size: 1em;
    font-weight: bold;
    color: #222;
}

.middle_item .origin_price {
    font-size: 0.7em;
    font-weight: normal;
    color: #ffabab;
    text-decoration: line-through;
    vertical-align: 2px;
}